@font-face {
  font-family: myFirstFont;
  src: url('DFVN Guardilostra.ttf') format('truetype');
}

body {
  background-image: url("bg.PNG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  overflow: hidden; 
  height: 100vh; 
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  position: absolute;
  top: 10%;
  right: 28%;
  font-size: 26rem;
  margin: 0;
  z-index: -2;
  color: #d9cba2;
  text-align: right;
  opacity: 70%;
  filter: blur(4px);
  white-space: nowrap;
}

h2 {
  position: absolute;
  bottom: 24%;
  right: 5%;
  font-family: LostType;
  font-size: 1.2rem;
  color: #d9cba2;
  text-align: right;
  opacity: 70%;
  filter: blur(1px);
  word-wrap: break-word;
  max-width: 15rem;
  z-index: -2;
}


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  height: 100vh;}



  svg {
    width: 100vw; 
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.butterfly {
   height:16rem;
   height:auto;
    transform-origin: center center;
  }

  body {
    background-image: url("bg.PNG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
  }
  
  .girl {
    position: absolute;
    height: 14.5rem;
    width: auto;
    bottom: auto; 
    top: 7%; 
    left: -5%; 
    transform: translateY(-20%); 
  }
  

.butterfly1 {
  transform: translate(360px, 180px) rotate(-13.28deg) scale(1);
}


.butterfly2 {
  transform: translate(420px, 100px) rotate(28.11deg) scale(0.82);
}


.butterfly3 {
  transform: translate(-180px, -70px) rotate(29.66deg) scale(0.8);
}


.butterfly4 {
  transform: translate(-170px, 200px) rotate(29.66deg) scale(0.7);
}

  .butterfly-group {
    transform-origin: center center;
}

body {
  transform: center center;
}

  .left-wing {
    animation: left 0.8s linear infinite alternate;
    transform-origin: 200px 170px;
  }
  
  .right-wing {
    animation: right 0.8s linear infinite alternate;  
    transform-origin: 210px 170px;
  }
  .left-wing4 {
    animation: left 0.6s linear infinite alternate;
    transform-origin: 200px 170px;
  }
  
  .right-wing4 {
    animation: right 0.6s linear infinite alternate;  
    transform-origin: 210px 170px;
  }

  .left-wing2 {
    animation: left 0.4s linear infinite alternate;
    transform-origin: 200px 170px;
  }
  
  .right-wing2 {
    animation: right 0.4s linear infinite alternate;  
    transform-origin: 210px 170px;
  }
  
  @keyframes left {
    from { transform: rotateX(0);}
    to {
      transform:rotateY(40deg)
    }
  }
  
  @keyframes right {
    from { transform: rotateX(0);}
     to { transform:rotateY(40deg);
    }
  }
  .tooltip {
    position: absolute;
    text-align: center;
    pointer-events: none;
  }

.tooltip-text {
    background-color: rgba(55, 39, 20, 0.8);
    border-radius: 50%;
    box-shadow: 0px 0px 20px 20px rgba(55, 39, 20, 0.8);
    color: #d9cba2;
    padding: 3px;
    font-size: 1.3rem;
    font-weight: bold;
    white-space: nowrap;
    transform: rotate(90deg);
}

.tooltip1{
  top:12%;
  left:0%;
}

.tooltip2{
  top:63%;
  left:0%;
}

.tooltip3{
  top:43%;
  left:59%;
}

.tooltip4{
  top:75%;
  left:45%;
}

.butterfly-glow {
  fill: rgba(210, 200, 145, 0.841); 
  opacity: 0;
  transform-origin: center;
  transition: opacity 0.3s ease-in-out;
  filter: url(#blur-glow);
  z-index: -1;
}

.butterfly-link:hover .butterfly-glow {
  opacity: 0.8;
}



/* iPad Air and iPad Pro */
@media (min-width: 768px) and (max-width: 1366px) {
  
  h1 {
    font-size: 12rem;
    right: 15%;
    transform: scale(2) translateY(5%);
}

h2 {
    font-size: 1rem;
    max-width: 12rem;
    bottom: 15%;
    text-align: right;
    transform:translateY(-5%);
}

.girl {
  position: absolute;
  transform: scale(4) translateY(75%) translateX(20%); 
}
.tooltip{
overflow: visible;
white-space: nowrap;
}

.tooltip-text {
    font-size: 1rem;
    padding: 5px;
    overflow: visible;
    white-space: nowrap;
}

.tooltip1{
  transform: scale(1.5) translateX(-2%);
  top:12%;
  left:3%;
}

.tooltip2{
  transform: scale(1.5) translateX(-2%);
  top:63%;
  left:3%;
}

.tooltip3{
  transform: scale(1.5) translateY(10%);
  top:43%;
  left:59%;
}

.tooltip4{
  transform: scale(1.5) translateX(100%);
  top:75%;
  left:55%;
}

.butterfly {
    transform: scale(1);
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  width: 100vw;
  height: 100vh;
  position:fixed;
}


svg, .butterfly {
  max-width: 100%;
  overflow: hidden;
}

.butterfly1 {
transform: translate(360px, 180px) rotate(-13.28deg) scale(1);
}


.butterfly2 {
transform: translate(420px, 100px) rotate(28.11deg) scale(0.82);
}


.butterfly3 {
transform: translate(-180px, -70px) rotate(29.66deg) scale(0.8);
}


.butterfly4 {
transform: translate(-170px, 200px) rotate(29.66deg) scale(0.7);
}


* {
max-width: 100%;
max-height: 100%;
overflow: hidden;
}

}
/* Smaller Phones */
@media (max-width: 480px) {
  h1 {
      font-size: 15rem;
      right: 10%;
  }

  h2 {
      opacity:0;
  }

  .butterfly-link:hover .butterfly-glow {
  opacity:0;
  filter: none;
}

  .girl {
    position: absolute;
    top: 7%; 
    left: -5%;
    transform: scale(3) translateY(75%) translateX(20%); 
}
.tooltip{
  overflow: visible;
  white-space: nowrap;
}



  .tooltip-text {
      font-size: 1rem;
      padding: 3px;
      overflow: visible;
      white-space: nowrap;
  }

  .tooltip1{
    transform: scale(1);
    top:5%;
    left:6%;
  }
  
  .tooltip1{
    transform: scale(1);
    top:12%;
    left:5%;
  }
  
  .tooltip2{
    transform: scale(1);
    top:63%;
    left:5%;
  }
  
  .tooltip3{
    transform: scale(1);
    top:47%;
    left:62%;
  }
  
  .tooltip4{
    transform: scale(1);
    top:80%;
    left:70%;
  }

  .butterfly1 {
    transform: scale(2) translate(380px, 180px) rotate(-13.28deg);
  }
  
  
  .butterfly2 {
    transform: scale(2) translate(340px, -180px) rotate(-28.11deg);
  }
  
  
  .butterfly3 {
    transform: scale(2) translate(20px, -50px) rotate(29.66deg);
  }
  
  
  .butterfly4 {
    transform: scale(2) translate(20px, 480px) rotate(29.66deg);
  }

  
  html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    width: 100vw;
    height: 100vh;
    position:fixed;
}


svg, .butterfly {
    max-width: 100%;
    overflow: hidden;
}

* {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
}
