@font-face {
  font-family: myFirstFont;
  src: url('DFVN Guardilostra.ttf') format('truetype');
}

body {
  background-image: url("bg.PNG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  overflow: hidden; 
  height: 100vh; 
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  position: absolute;
  top: 10%;
  right: 28%;
  font-size: 26rem;
  margin: 0;
  z-index: -2;
  color: #d9cba2;
  text-align: right;
  opacity: 70%;
  filter: blur(4px);
  white-space: nowrap;
}

h2 {
  position: absolute;
  bottom: 24%;
  right: 5%;
  font-family: LostType;
  font-size: 1.2rem;
  color: #d9cba2;
  text-align: right;
  opacity: 70%;
  filter: blur(1px);
  word-wrap: break-word;
  max-width: 15rem;
  z-index: -2;
}


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  height: 100vh;}



  svg {
    width: 100vw; 
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.butterfly {
   height:16rem;
   height:auto;
    transform-origin: center center;
  }

  body {
    background-image: url("bg.PNG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
  }
  
  .girl {
    position: absolute;
    height: 14.5rem;
    width: auto;
    bottom: auto; 
    top: 7%; 
    left: -5%; 
    transform: translateY(-20%); 
  }
  
/* First Butterfly */
.butterfly1 {
  transform: translate(360px, 180px) rotate(-13.28deg) scale(1);
}

/* Second Butterfly */
.butterfly2 {
  transform: translate(420px, 100px) rotate(28.11deg) scale(0.82);
}

/* Third Butterfly */
.butterfly3 {
  transform: translate(-180px, -70px) rotate(29.66deg) scale(0.8);
}

/* Fourth Butterfly */
.butterfly4 {
  transform: translate(-170px, 200px) rotate(29.66deg) scale(0.7);
}

  .butterfly-group {
    transform-origin: center center;
}

body {
  transform: center center;
}

  .left-wing {
    animation: left 0.8s linear infinite alternate;
    transform-origin: 200px 170px;
  }
  
  .right-wing {
    animation: right 0.8s linear infinite alternate;  
    transform-origin: 210px 170px;
  }
  .left-wing4 {
    animation: left 0.6s linear infinite alternate;
    transform-origin: 200px 170px;
  }
  
  .right-wing4 {
    animation: right 0.6s linear infinite alternate;  
    transform-origin: 210px 170px;
  }

  .left-wing2 {
    animation: left 0.4s linear infinite alternate;
    transform-origin: 200px 170px;
  }
  
  .right-wing2 {
    animation: right 0.4s linear infinite alternate;  
    transform-origin: 210px 170px;
  }
  
  @keyframes left {
    from { transform: rotateX(0);}
    to {
      transform:rotateY(40deg)
    }
  }
  
  @keyframes right {
    from { transform: rotateX(0);}
     to { transform:rotateY(40deg);
    }
  }
  .tooltip {
    position: absolute;
    text-align: center;
    pointer-events: none;
  }

.tooltip-text {
    background-color: rgba(55, 39, 20, 0.8);
    border-radius: 50%;
    box-shadow: 0px 0px 20px 20px rgba(55, 39, 20, 0.8);
    color: #d9cba2;
    padding: 3px;
    font-size: 1.3rem;
    font-weight: bold;
    white-space: nowrap;
    transform: rotate(90deg);
}


.butterfly-glow {
  fill: rgba(210, 200, 145, 0.841); 
  opacity: 0;
  transform-origin: center;
  transition: opacity 0.3s ease-in-out;
  filter: url(#blur-glow);
  z-index: -1;
}

.butterfly-link:hover .butterfly-glow {
  opacity: 0.8;
}

