@font-face {
    font-family: LostType;
    src: url('LostType2023-Regular.otf') format('truetype');
  }

 body {
    background-image: url("bg.PNG");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    margin: 0; 
}
body {
	margin: 0;
	width: 100%;
	height: 100%;
} 
article {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transform:translateY(5%);
}
svg{
	overflow: visible;
}
svg text {
	font-size: 1.2em;
	overflow: visible;
	font-family: LostType;
	fill: #9c7e4b;
    opacity:0.4;
}

text {
    filter: url(#blur-filter);
}
